body {
    font-family: sans-serif;
    font-weight: 400;
    color: #333;
    padding-top: 70px;
    margin: 0;
    padding: 0;
}
#hero img {

  width: 300px;
  height: 300px;
  border-radius: 50% ;
  object-fit: cover;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.9);
    transition: transform 0.3s ease, box-shadow 0.3s ease;


}

#hero img:hover {
  transform: scale(1.05);
}
#hero {
  padding: 120px 0;
}